// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

$ming: #3C6E71;
$cream: #FFFAF0;
$spring-bud: #D0D1AC;
$light-salmon: #FAAA8D;

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $cream;
  font-family: "Work Sans", sans-serif;
  font-size: 14pt;
  font-weight: 400;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 16pt;
  font-weight: 600;
}

h3 {
  font-size: 14pt;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $ming;
}

input[type=text] {
  padding: 8px;
  width: 100%;
  border: 1pt dotted $light-salmon;
  border-radius: 4px;
  font-family: "Work Sans", sans-serif;
  font-size: 10pt;
}

textarea {
  padding: 8px;
  width: 100%;
  height: 200px;
  border: 1pt dotted $light-salmon;
  border-radius: 4px;
  resize: none;
  font-family: "Work Sans", sans-serif;
  font-size: 10pt;
}

input[type=submit] {
  margin: 14px -18px;
  padding: 14px 24px;
  background-color: $light-salmon;
  color: white;
  border: 0;
  border-radius: 4px;
  font-family: "Work Sans", sans-serif;
  font-size: 14pt;
  font-weight: 600;
  float: right;
}

.top-nav {
  margin: 0;
  padding: 20px 30px 20px 30px;
  background-color: $spring-bud;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-container {
  margin: 100px auto;
  width: 600px;
}

.article-preview {
  margin: 40px;
}

.article-box {
  margin: 100px 40px 0 40px;
}
